.menu-principal {
    color: #47525E;
    padding-top: 500px;
    font-size: larger;
    height: 73.33%;
    background-color: rgb(235, 235, 235);
    width: 15.26%;
    float: right;
    border-style: groove;
    border-width: 5px;
}

.menu-principal > ul > a > li {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #47525E;
    display: list-item;
    padding: 8px;
}

.menu-principal > ul > a > li:hover {
    color: rgb(122, 122, 122);
} 
.parte-superior{ 
    color: #47525E;
    font-size: 23px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 1080px;
    background-color: rgb(235, 235, 235);
    padding-left: 160px;
    padding-top: 80px;
    padding-bottom: 95px
}
.barra-pesquisa {
    padding-left: 1200px;
}
.thumb1 {
    float: left;
    padding-right: 80px;
    padding-top: 80px;
}
.thumb2 {
    float: left;
    padding-right: 80px;
    padding-top: 80px;
}
.thumb3 {
    float: left;
    padding-right: 80px;
    padding-top: 80px;
}
.thumb4 {
    float: left;
    padding-right: 80px;
    padding-top: 80px;
}
.thumb5 {
    float: left;
    padding-right: 80px;
    padding-top: 80px;
}
.thumb6 {
    float: left;
    padding-right: 80px;
    padding-top: 80px;
}
h3 { 
    font-size: 35px;
}