.menu-principal {
    font-size: larger;
    height: 500px;
    background-color: rgba(120, 128, 128, 0.212);
    width: 225px;
    float: right;
    border-style: groove;
    border-width: 5px;
    padding: 10px;
}

.menu-principal {
    float: right;
}

.menu-principal > ul > li {
    display: list-item;
    padding: 8px;
}

.menu-principal > ul > li:hover {
    color: rgb(122, 122, 122);
    border-style: dotted;
} 

.parte-superior{ 
    font-size: larger;
    height: 500px;
    background-color: rgba(120, 128, 128, 0.212);
}

.parte-inferior { 
    font-size: larger;
    height: 500px;
    background-color: rgb(120, 128, 128, 0.212);
    border-top-width: 5px;
    border-top-style: dotted;
}
.barra-pesquisa {
    background-color: aliceblue;
}