.menu-principal {
    padding: 40px;
    font-size: larger;
    height: 500px;
    background-color: rgba(120, 128, 128, 0.212);
    width: 200px;
    float: right;
    border-style: groove;
    border-width: 5px;
}
.menu-principal > ul > li {
    display: list-item;
    padding: 8px;
}

.menu-principal > ul > li:hover {
    color: rgb(122, 122, 122);
    border-style: dotted;
} 

.parte-superior{ 
    font-size: larger;
    height: 500px;
    background-color: rgba(120, 128, 128, 0.212);
    padding-left: 80px;
    padding-top: 50px;
    padding-bottom: 50px
}

.parte-inferior { 
    font-size: larger;
    height: 500px;
    padding-left: 80px;
    padding-top: 50px;
    background-color: rgb(120, 128, 128, 0.212);
    border-top-width: 5px;
    border-top-style: dotted;
}
.barra-pesquisa {
    padding-left: 1250px;
}
.thumb1 {
    float: left;
    padding-right: 80px;
}
.thumb2 {
    float: left;
    padding-right: 80px;
}
.thumb3 {
    float: left;
    padding-right: 80px;
}
h3 { 
    font-size: 30px;
}
